:root {
    --blue-jeans: #00A6FF;
    --eggshell: #F4EBD9;
    --main-bg-colour: #F4EBD9;
    --chocolate: #743307;
    --shocking-pink: #EF38BF;
    --eerie-black: #1c1c1c;
    --main-text-colour: #1c1c1c;
  }

@font-face {
    font-family: 'RampartOne'; /*a name to be used later robota sans*/
    src: url('fonts/RampartOne-Regular.ttf'); /*URL to font*/
}

body {
    color: var(--main-text-colour);
    background-color: var(--main-bg-colour);
}

h1{
    font-family: RampartOne, sans-serif;
    font-weight: 400;
    font-style: normal;
}